@model EntityLayer.Concrete.Product
@{
	ViewData["Title"] = "UpdateProduct";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Ürün Güncelleme Formu</h1>

<form method="post">
	@Html.HiddenFor(x=>x.ID)

	@Html.Label("Ürün Adı")
	@Html.TextBoxFor(x=>x.Name,new {@class="form-control"})

	@Html.Label("Ürün Stok Bilgisi")
	@Html.TextBoxFor(x=>x.Stock,new {@class="form-control"})

	@Html.Label("Ürün Fiyatı")
	@Html.TextBoxFor(x=>x.Price,new {@class="form-control"})


	<button class="btn btn-warning">Güncelle</button>
</form>
